<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sao.modclothesproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_modproject"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ClosetActivity"
            android:label="@string/title_activity_closet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ViewImage" />
        <activity android:name=".WomanStyleActivity"
            android:label="@string/title_activity_womanstyle"/>
        <activity android:name=".PareShapeActivity"
            android:label="@string/title_activity_pare_shape"/>
        <activity android:name=".AppleShapeActivity"
            android:label="@string/title_activity_apple_shape"/>
        <activity android:name=".HourglassShapeActivity"
            android:label="@string/title_activity_hourglass_shape"/>
        <activity android:name=".RectangleActivity"
            android:label="@string/title_activity_rectangle"/>
        <activity android:name=".CollectionActivity" />
        <activity android:name=".AboutActivity"
            android:label="@string/title_activity_about"/>
        <activity
            android:name=".CollectionsActivity"
            android:label="@string/title_activity_collections"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PreviewActivity" />
        <activity android:name=".CollectionViewActivity" />
        <activity android:name=".AddFabActivity" />
        <activity android:name=".InsertsMeasurementsActivity"
            android:label="@string/title_activity_input" />
        <activity android:name=".SActivity" />
        <activity android:name=".MActivity" />
        <activity android:name=".LActivity" />
        <activity android:name=".XLActivity" />
        <activity android:name=".MaincActivity"
            android:label="@string/title_activity_mainc" />
        <activity android:name=".ShitsActivity"
            android:label="@string/title_activity_share_shirt"/>
        <activity android:name=".PantsActivity"
            android:label="@string/title_activity_share_pants"/>
        <activity android:name=".SkirtsActivity"
            android:label="@string/title_activity_share_skirt"/>
        <activity android:name=".DressActivity"
            android:label="@string/title_activity_share_dress"/>
        <activity android:name=".ShoesActivity" />
        <activity android:name=".AccessoriesActivity"
            android:label="@string/title_activity_share_accessorries"/>
        <activity android:name=".ShareFBActivity"
            android:label="@string/title_activity_share_fb"/>
        <activity android:name=".SetTimeActivity"
            android:label="@string/title_activity_my"/>
        <activity android:name=".Calendar" />
        <activity android:name=".ActionBarActivity" />

        <service
            android:name=".AlarmService"
            android:enabled="true" />

        <receiver android:name=".AlarmReceiver" />

        <activity android:name=".CaldroidSampleActivity"
            android:label="@string/title_activity_caldroid" />
        <activity
            android:name=".MyActivity"
            android:label="@string/title_activity_my"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TodayActivity"></activity>
    </application>

</manifest>